.radio__container {
  display: inline-flex;
  cursor: pointer;
}

.input-radio {
  display: none;
}

.input-radio__circle {
  margin-right: 0.5rem;
  min-width: 20px;
  height: 20px;
  border: 2px solid #d8dde7;
  box-sizing: border-box;
  border-radius: 50%;
}

.input-radio:checked + .input-radio__circle {
  background: #7dc43f;
  border-color: #7dc43f;
}

.radio__label {
  font-family: Exo 2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  /* identical to box height */
  letter-spacing: 0.02em;

  color: #26283b;
}
